<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express Tutorial</title>
</head>

<body>
  Hello World <h1>
    <%= locals.name ? name : "KUCH TOH GADBAD HAI DAYA...." %>
  </h1>
</body>

</html>